p{
    font-size: 20px;
}
.contenedor-lastNews{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenedor-lastNews a{
    text-decoration: none;
    color: white;
    background: #5cb8ff;
    padding: 20px 30px 20px 30px;
    border-radius: 20px;
}

.lastNew{
    color: rgb(0, 7, 0); 
    font-weight: bolder;       /*para hacer negrita la letra sin etiqueta */
    width: 25%;
    padding: 38px;
    border-radius: 20px;
    margin-bottom: 40px;
}
.lastNew:hover{
    transition: 2s;
    transform: scale(1.07);
    background-image: radial-gradient(white, rgb(68,68,68));
}
.lastNew a:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.72);
}

.violeta{
    background: #5055df;
}

.celeste{
    background: #40a8f9;
}
h3{
    font-size: 48px;
    margin-left: 666px;
    padding: 25px 45px 25px 45px;
}
h3:hover{
    display: inline-block;
    color: black;
    transition: 2s;
    transform: rotateY(360deg);
}

.lastNew h4{
    font-size: 30px;
    margin: 0px;
}

.lastNew img{
    float: right;
}

.lastNew p{
    font-size: 16px;
    height: 200px;
}
